<h1>ToTwitterDoGram</h1>



<div class="ui two column stackable grid">
  <div class="three column row">
    <% @posts.each do |post| %>
      <div class="column">
        <div class="ui segment">
          <h3><%= post.title %></h3>
          <%= post.content %><br />
          <%= link_to "See post and comments", user_post_path(current_user, post.id) %>
          <!-- <%= link_to "See post and comments", user_comments_path(current_user) %> -->
          <!-- <%= link_to "See post and comments", post_comments_path(post.id) %> -->
        </div>
      </div>
    <% end %>
  </div>

  <!-- <div class="three column row">
    <% @posts.each do |post| %>
      <div class="ui card">
        <div class="content">
          <a class="header"><%= post.title %></a>
        </div>
        <div class="description">
          <%= post.content %><br />
        </div>
        <div>
          <%= link_to "See post and comments", user_post_path(current_user, post.id) %>
        </div>
      </div>
    <% end %>
  </div> -->

  <!-- <% @posts.each do |p| %>
  	<div class="ui card">
  	  <div class="content">
  	    <a class="header"><%= p.title %></a>
  	    <div class="description">
  	      <%= p.content %>
  	    </div>
  	  </div>
  	  <div class="extra content">

  	  </div>
  	</div>
  <% end %> -->

  <!-- <div class="ten wide column">
    <div class="ui segment">e</div>
  </div>
  <div class="six wide column">
    <div class="ui segment">f</div>
  </div> -->
</div>
