<h1>Yer Post</h1>

<div><h3><%= @post.title %> </h3></div>
<div><%= @post.content %> </div>

// show comments

<% @comments.each do |comment| %>
  <%= @post.comment %>
<% end %>





<!-- <%= form_for [current_user, @post] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit %>
	<% end %> -->
